\#*\#
.eslintrc.js
.idea
.vs
.vscode
10-softBodies.html
10-softBodies.js
bitonicsort.mjs
radixsort.mjs
cert.pem
computebak.wgsl
computegood.wgsl
geometry.js.bak
goodrender.wgsl
key.pem
launch.cmd
monkey.obj
neohook
node_modules
octri.obj
package-lock.json
package.json
pp.obj
precise
quinn.obj
quinn.png
rundeno.js
sexapus.obj
softbody.html
softbodymod.html
t.obj
t.ply
t2.obj
test.html
test.js
tetquinn.obj
tetquinn.ply
tint.exe
tmp.wgsl
tri.obj
verify.obj
water.obj
webdeno.mjs
yarn.lock
