
body {
    width: 100%;
    height: 100%;
    display: grid;
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: fantasque;
    align-items: center;
}

dialog:not([open]) {
    pointer-events: none;
    display: none;
}


@font-face {
    font-family: fantasque;
    src: url('fantasque.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.hud div {

    font-size:12px;
    position: fixed;
    color: white;
    pointer-events: none;

}

output {
    width: 32px;
    display: inline-flex;
    justify-content: right;
    padding-right:5px;
    cursor: ew-resize;
    pointer-events: initial;
}



#pedit {
    left: 10px;
    top: 10px;
    text-align: left;
}

#rpref {
    left: 5px;
    bottom: 5px;
    text-align: left;
}

#actions {
    right: 10px;
    bottom: 10px;
}

input[type=file] {
    width:0
}


button, .footer label {
    font-family: fantasque;
    font-size: 10pt;
    pointer-events: initial;
    border-radius: 5%;
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    cursor: pointer;
    margin: 2px;
    padding:1px 4px 1px 4px;
    background-color: #ececec;
}

button:hover:not([disabled]):not(.opentab), .footer .enabled:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    transform: translateX(0.5px) translateY(0.5px);

}

button:active:not([disabled]), .footer .enabled:active {
    box-shadow: 0px 0px 0px;
    transform: translateX(1px) translateY(1px);
}

.opentab {
    font-weight:1000;
    box-shadow: 0px 0px 0px;
    transform: translateX(1px) translateY(1px);
}

.footer label.disabled {
    color: rgba(16, 16, 16, 0.3);
}


#info {
    right: 10px;
    top: 10px;
    text-align: right;
}

#inspect {
    margin-left: 20px;
    display: none;
}

#step {
    margin-left: 8px;
    height: 25px;
    width: 35px;
    pointer-events: initial;
}

input {
    vertical-align: middle;
    pointer-events: initial;
    font-family: fantasque;
}

input[type=range] {
    -webkit-appearance: none;
    width:0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    width: 0;
}

input[type=range]:active {
    width: 500px;
    left: 100px;
}

input[type=checkbox] {
    transform: scale(1.6);
    margin: 6px 12px 5px 15px;
    margin-right: 8px;
    margin-left:10px;

}

select {
    width: 100px;
    margin-right: 8px;
    text-align:right;
    margin-left:10px;
    pointer-events: initial;
    font-family:fantasque;
    font-size:12px;
}

option {
    font-family: fantasque;
    font-size: 12px;
}

th {
    border: 1px solid black;
    font-size: 12px;
    border-spacing: 0;
    max-width:58px;
}

td {
    border-spacing: 0;
    border: 1px solid black;
    padding:2px 2px 2px 2px;
    text-align: center;
    font-size: 12px;
    max-width:200px;
    overflow: hidden;
}

[contenteditable='true'] {
    /* outline: none; */
}

table {
    border-spacing: 1px;
}

.editor {
    border-radius: 20px;
    border: 2px solid #666666;
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.stores {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.editTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:0;
    background-color:white;
    color:black;
}

.summary {
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary span {
    text-align: left;
    padding-left: 5px;
    width: 120px;
    display: flex;
    flex-direction: row;
}

table {
    padding:10px;
}

.delrow {
    border: 0px;
}

.delrow button {
    font-size:4px;
    margin:0px;
    padding:1px;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 10px;

}

